@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --font-sans: var(--font-pretendard), -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Consolas, 'Liberation Mono', Menlo, monospace;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    /* font-family: var(--font-pretendard), -apple-system, BlinkMacSystemFont, system-ui, sans-serif; */
}
/* 
h1 {
    @apply text-4xl font-bold mb-4;
}

h2 {
    @apply text-3xl font-semibold mb-3;
}

h3 {
    @apply text-2xl font-medium mb-2;
}

h4 {
    @apply text-xl font-medium mb-2;
}

h5 {
    @apply text-lg font-medium mb-1;
}

h6 {
    @apply text-base font-medium mb-1;
} */
